In [12]:
# Import libraries

# Import the functions used in this project

# Pretty display for notebooks
%matplotlib inline


# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
train = pd.read_csv("../asset/train.csv")
test = pd.read_csv("../asset/test.csv")
submission = pd.read_csv("../asset/sample_submission.csv")

# Success - Display the first record
print("Train data : ", train.shape)
print("Test  data : ", test.shape)
print("submission  data : ", submission.shape)

import awesome_functions as af

# 원본을 유지하기 위해서 카피
df_train = train.copy()
df_test = test.copy()
df_submission = submission.copy()

Train data :  (647054, 7)
Test  data :  (653646, 6)
submission  data :  (95674, 39)

In [5]:
df_train.columns

Index(['TripType', 'VisitNumber', 'Weekday', 'Upc', 'ScanCount',
       'DepartmentDescription', 'FinelineNumber'],
      dtype='object')

In [6]:
df_train.head()

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
0,999,5,Friday,6.811315e+10,-1,FINANCIAL SERVICES,1000.0
1,30,7,Friday,6.053882e+10,1,SHOES,8931.0
2,30,7,Friday,7.410811e+09,1,PERSONAL CARE,4504.0
3,26,8,Friday,2.238404e+09,2,PAINT AND ACCESSORIES,3565.0
4,26,8,Friday,2.006614e+09,2,PAINT AND ACCESSORIES,1017.0

In [60]:
def isThereNoneData(df, percentage=60):
    """
        Missing data, Trace data, - data의 개수정보를 받아서 만든 dataframe을 리턴한다.
        패러미터는 df와, 상기된 데이터들이 해당 컬럼에서 차지한 percentage정도를 출력하고싶을때 입력한다. 
        default는 60% 이상인 컬럼명을 출력한다.
    """
    columns = ["Column", "Row Count", "Missing Data", "M Data %"]
    li = list(df.columns)
    m_count_li = []
    m_percent_li = []
    row_count_li = []
    for l in li:
        m_count = 0
        if l not in ["Weekday", "DepartmentDescription"]:
            for i, contents in enumerate(df[l]):
                contents = float(contents)
                if np.isnan(contents):
                    m_count += 1
            m_count_li.append([l, m_count])
            
    return m_count_li

In [27]:
df_train.dtypes

TripType                   int64
VisitNumber                int64
Weekday                   object
Upc                      float64
ScanCount                  int64
DepartmentDescription     object
FinelineNumber           float64
dtype: object

In [63]:
for column in df_train.columns:
    unique_ = df_train[column].unique()
    print(column, len(unique_))
    print(unique_)
    print()
    print()

TripType 38
[999  30  26   8  35  41  21   6  42   7   9  39  25  38  15  36  20  37
  32  40   5   3   4  24  33  43  31  27  34  18  29  44  19  23  22  28
  14  12]


VisitNumber 95674
[     5      7      8 ... 191345 191346 191347]


Weekday 7
['Friday' 'Saturday' 'Sunday' 'Monday' 'Tuesday' 'Wednesday' 'Thursday']


Upc 97715
[6.81131529e+10 6.05388160e+10 7.41081110e+09 ... 8.85306278e+10
 8.87439527e+10 5.44000008e+09]


ScanCount 39
[ -1   1   2   3   5   6   4  14  -2   9   7  10   8  -3  -5  11  16  -4
  13  15  30  -6  12  20 -12  19  46  23  -7  22  25  24  31  -9  51  17
  18  71 -10]


DepartmentDescription 69
['FINANCIAL SERVICES' 'SHOES' 'PERSONAL CARE' 'PAINT AND ACCESSORIES'
 'DSD GROCERY' 'MEAT - FRESH & FROZEN' 'DAIRY' 'PETS AND SUPPLIES'
 'HOUSEHOLD CHEMICALS/SUPP' nan 'IMPULSE MERCHANDISE' 'PRODUCE'
 'CANDY, TOBACCO, COOKIES' 'GROCERY DRY GOODS' 'BOYS WEAR'
 'FABRICS AND CRAFTS' 'JEWELRY AND SUNGLASSES' 'MENS WEAR' 'ACCESSORIES'
 'HOME MANAGEMENT' 'FROZEN FOODS' 'SERVICE DELI'
 'INFANT CONSUMABLE HARDLINES' 'PRE PACKED DELI' 'COOK AND DINE'
 'PHARMACY OTC' 'LADIESWEAR' 'COMM BREAD' 'BAKERY' 'HOUSEHOLD PAPER GOODS'
 'CELEBRATION' 'HARDWARE' 'BEAUTY' 'AUTOMOTIVE' 'BOOKS AND MAGAZINES'
 'SEAFOOD' 'OFFICE SUPPLIES' 'LAWN AND GARDEN' 'SHEER HOSIERY' 'WIRELESS'
 'BEDDING' 'BATH AND SHOWER' 'HORTICULTURE AND ACCESS' 'HOME DECOR' 'TOYS'
 'INFANT APPAREL' 'LADIES SOCKS' 'PLUS AND MATERNITY' 'ELECTRONICS'
 'GIRLS WEAR, 4-6X  AND 7-14' 'BRAS & SHAPEWEAR' 'LIQUOR,WINE,BEER'
 'SLEEPWEAR/FOUNDATIONS' 'CAMERAS AND SUPPLIES' 'SPORTING GOODS'
 'PLAYERS AND ELECTRONICS' 'PHARMACY RX' 'MENSWEAR' 'OPTICAL - FRAMES'
 'SWIMWEAR/OUTERWEAR' 'OTHER DEPARTMENTS' 'MEDIA AND GAMING' 'FURNITURE'
 'OPTICAL - LENSES' 'SEASONAL' 'LARGE HOUSEHOLD GOODS' '1-HR PHOTO'
 'CONCEPT STORES' 'HEALTH AND BEAUTY AIDS']


FinelineNumber 5196
[1000. 8931. 4504. ... 8257. 4314. 7130.]

In [62]:
isThereNoneData(df_train)

[['TripType', 0],
 ['VisitNumber', 0],
 ['Upc', 4129],
 ['ScanCount', 0],
 ['FinelineNumber', 4129]]

In [61]:
df_train[np.isnan(df_train["Upc"])]

,TripType,VisitNumber,Weekday,Upc,ScanCount,DepartmentDescription,FinelineNumber
25,26,8,Friday,NaN,1,NaN,NaN
548,27,259,Friday,NaN,3,NaN,NaN
549,27,259,Friday,NaN,1,NaN,NaN
959,999,409,Friday,NaN,-1,NaN,NaN
1116,39,479,Friday,NaN,1,NaN,NaN
1134,999,484,Friday,NaN,-2,NaN,NaN
1135,999,484,Friday,NaN,-2,NaN,NaN
1155,44,496,Friday,NaN,1,PHARMACY RX,NaN
1216,5,521,Friday,NaN,1,PHARMACY RX,NaN
1373,5,585,Friday,NaN,1,PHARMACY RX,NaN
1455,5,619,Friday,NaN,1,PHARMACY RX,NaN
1456,5,619,Friday,NaN,1,PHARMACY RX,NaN
1457,5,619,Friday,NaN,1,PHARMACY RX,NaN
1819,5,787,Friday,NaN,1,PHARMACY RX,NaN
1926,32,845,Friday,NaN,1,NaN,NaN
1927,32,845,Friday,NaN,1,NaN,NaN
2031,5,897,Friday,NaN,1,PHARMACY RX,NaN
2032,5,897,Friday,NaN,1,PHARMACY RX,NaN
2294,40,1004,Friday,NaN,1,NaN,NaN
2399,5,1036,Friday,NaN,1,PHARMACY RX,NaN
2478,5,1064,Friday,NaN,1,PHARMACY RX,NaN
2566,5,1073,Friday,NaN,1,PHARMACY RX,NaN
2826,5,1170,Friday,NaN,1,PHARMACY RX,NaN
2850,40,1179,Friday,NaN,1,NaN,NaN
3096,44,1236,Friday,NaN,1,NaN,NaN
3369,9,1355,Friday,NaN,1,PHARMACY RX,NaN
3491,5,1392,Friday,NaN,1,PHARMACY RX,NaN
3524,5,1402,Friday,NaN,1,PHARMACY RX,NaN
3619,5,1425,Friday,NaN,1,PHARMACY RX,NaN
3729,5,1487,Friday,NaN,1,PHARMACY RX,NaN
...,...,...,...,...,...,...,...
636005,5,188661,Sunday,NaN,1,PHARMACY RX,NaN
636090,44,188673,Sunday,NaN,1,NaN,NaN
636372,8,188743,Sunday,NaN,1,NaN,NaN
636444,999,188760,Sunday,NaN,-1,NaN,NaN
636499,40,188775,Sunday,NaN,1,NaN,NaN
636715,5,188839,Sunday,NaN,1,PHARMACY RX,NaN
636716,5,188839,Sunday,NaN,1,PHARMACY RX,NaN
636717,5,188839,Sunday,NaN,1,PHARMACY RX,NaN
636847,5,188896,Sunday,NaN,1,PHARMACY RX,NaN
636882,25,188898,Sunday,NaN,4,NaN,NaN
636883,25,188898,Sunday,NaN,2,NaN,NaN
636884,25,188898,Sunday,NaN,-2,NaN,NaN
636885,25,188898,Sunday,NaN,1,NaN,NaN
636886,25,188898,Sunday,NaN,1,NaN,NaN
636918,40,188901,Sunday,NaN,1,NaN,NaN
637067,40,188907,Sunday,NaN,2,NaN,NaN
637068,40,188907,Sunday,NaN,3,NaN,NaN
637069,40,188907,Sunday,NaN,2,NaN,NaN
637198,5,188940,Sunday,NaN,1,PHARMACY RX,NaN
639106,39,189509,Sunday,NaN,1,NaN,NaN
640573,33,189818,Sunday,NaN,1,NaN,NaN
642017,40,190133,Sunday,NaN,1,NaN,NaN
642236,999,190182,Sunday,NaN,-1,NaN,NaN
642499,40,190230,Sunday,NaN,1,NaN,NaN
642784,39,190309,Sunday,NaN,1,NaN,NaN
643137,41,190408,Sunday,NaN,1,NaN,NaN
643991,44,190651,Sunday,NaN,1,NaN,NaN
645990,44,191080,Sunday,NaN,-1,NaN,NaN
645991,44,191080,Sunday,NaN,1,NaN,NaN
645992,44,191080,Sunday,NaN,1,NaN,NaN

In [85]:
def changeType(data):
    if type(data) is float:
        return 1
    else:
        return 0

In [86]:
df_train["new"] = df_train["DepartmentDescription"].apply(changeType)

In [87]:
df_train["new"].unique()

array([0, 1])

In [89]:
len(df_train[df_train["new"] == 1])

1361

In [93]:
len(df_train[(df_train["new"] == 1) & (np.isnan(df_train["Upc"])) & (np.isnan(df_train["FinelineNumber"]))])

1361